<!DOCTYPE html>
<html ng-app="loginMod">
<head>
<meta charset="ISO-8859-1">

<title>Login</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatable" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>


<link rel="stylesheet" href="./assets/css/stylesheet1.css">

<script src="./assets/javascript/loginAJS.js"></script>

</head>
<body>

	<div id="header">
		<h1 id="company">"co" Company Name</h1>
		<hr>
	</div>
<div id="loginContainer" class="container ">
	<div id="loginJumbotron" class="jumbotron-fluid">

		<h2 id="loginTitle">Login</h2>
<br>
	<div ng-controller="loginCtrl">
		<form  class="has-danger mx-auto"  ng-submit="tryLogin()">
			<!-- searches for login(servlet) and does (do)post method -->

			<label for="username" class="loginLabels">Username: </label> <input type="text"
				 ng-model="username" name="username" placeholder="enter your username..."
				class="form-control form-control-md" required autofocus> 
				
			<label for="password" class="loginLabels">Password: </label> <input type="password"
				 ng-model="password" name="password" placeholder="enter your password..."
				class="form-control form-control-lg" required autofocus> 
	<br>
			<input type="submit" value="Login" class="btn btn-success">

		</form>
		<p>{{username}}, {{password}}</p>
		</div>
		<div id="registerButton">
		<br>
			<button type="button" class="btn btn-primary">Register</button>
		</div>

	</div>
	</div>
	
	
	<div id="footer"></div>
	
</body>
</html>