<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>My Reimbursements</title>

<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>

<link rel="stylesheet" href="./css/cleansidebar.css">
<link rel="stylesheet" href="./css/stylesheet1.css">

<script src="./javascript/forAll.js"></script>
<script src="./javascript/forAllMan.js"></script>

</head>
<body ng-app="reimbWebSite">

<div id="mySidenav" class="sidenav" ng-controller="navMCtrl">
		<a href="javascript:void(0)" style="font-size: 30px;" class="closebtn"
			onclick="closeNav()">&times;</a>
		<ul style="margin-right: 20%">
			<li><a href="ManHomepage.html"ng-click="manhome()">Home</a></li>
			<li><a ng-click="manviewallreim()">Reimbursements</a>
				<ul id="ddown" class="dropdown">
					<dl>
						<a ng-click="allReimbs()">Employees' Reimbursements</a>
					</dl>
					<dl>
						<a ng-click="myreimbs()">Manager Reimbursements</a>
					</dl>
				</ul></li>

			<li><a href="#">Information</a>
				<ul class="dropdown" style="margin-right: 20%">
					<dl>
						<a ng-click="allemps()">Employees' Information</a>
					</dl>
					<dl>
						<a ng-click="maninfo()">Manager Information</a>
					</dl>
				</ul></li>

			<a ng-click="maninfo()">Logout</a>
			</ul>
	</div>
	
	
		     	<div class="jumbotron">
		<h1>Manager-View of Employees</h1>
		</div>
	
	
	
	
	
	
	
	
</body>
</html>