body {
	font-family: "Lato", sans-serif;
}

section {
	float: left;
}

#emptitle {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
	font-stretch: expanded;
}

.empInfo {
	font-size: 30px;
	font-stretch: expanded;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 40px;
}

hr {
	size: 20px;
}

.sidenav a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

h2 {
	margin-left: 45%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidenav a:hover, .offcanvas a:focus {
	color: #f1f1f1;
	transition: 0.3ms;
	padding-left: 2px;
}

li a {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown {
	display: block;
	transition: 0.3ms
}

dl:hover .dropdown {
	display: block;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
}

#myListText {
	font-family: Georgia, 'Times New Roman', Times, serif;
	size: 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}