@charset "ISO-8859-1";

/*nav bar's min-height is 50 so padding on body 50, to be atleast below its min*/
body {
    /*padding-top: 10%/*50px*/;
}

/*.(dot) for class*/
/*class="starter-template"*/
.starter-template {
    /*padding: 40px 15px;*/
    text-align: center;
}
#header {
  margin-top: -10px;
  padding-top: 0;
  padding-bottom: 75px;
}
#company {
  margin-left: auto;
}

/*login page css*/
#loginContainer {
	/*
 	min-height: 350px;
 	min-width: 300px;
 	max-height: 500px;
 	max-width: 450px;*/
 	height: 350px;/*50vh*/
 	width:	450px;/*50vw*/
	
	border-radius: 16px;
	text-align: center;
	background-color: rgba(0,0,0,.5);/*#ccc or #9d9d9d*/
}
#loginJumbotron {
	/*background-image:url('images/car/car.jpg');    background-size: cover;	background: contain;*/
 	
 	 /*margin-left: 100px;/*or 20%*/	/*margin-right: 100px;/*or 20%*/
	padding-left: 75px;/*or 15px*/	padding-right: 75px;	padding-top: 30px;	padding-bottom: 50px;*/
	border-radius: 16px;
	text-align: center;
	
}
.loginLabels  {
	color: #fff;
}
#loginTitle {
  font-weight: bold;
  color: #fff;
}
#registerButton {
    float: right;
}
