<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="ISO-8859-1">
<title>Reimbursement Application</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatable" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="..\css\cleansidebar.css">
<link rel="stylesheet" href="..\css\employeeCSS.css">

<script src="..\javascript\employeeAJS.js"></script>

</head>

<body ng-app="reimbWebSite">


	<div id="mySidenav" class="sidenav" ng-controller="navECtrl">
		<a href="javascript:void(0)" style="font-size: 30px;" class="closebtn"
			onclick="closeNav()">&times;</a>
		<ul style="margin-right: 20%">
			<form action="pages">
				<li><a ng-click="emphome()">Home</a></li>
				<li><a>My Reimbursements</a>
					<ul id="ddown" class="dropdown">
				<dl>
						<a ng-click="myreimbs()">All Reimbursements</a>
					</dl>
					<dl>
						<a ng-click="()">Approvals</a>
					</dl>

					</ul></li>

				<li><a>Information</a>
					<ul class="dropdown" style="margin-right: 20%">
						<dl>
							<a ng-click="empinfo()">My Information</a>
						</dl>

					</ul></li>
			</form>
			<a ng-click="logout()" style="margin-bottom: 0%">Logout</a>
	</div>

	<div id="main">
		<h1 id="emptitle" class="page-header" style="margin-top: 0;">Employee
			-Reimbursement Approval</h1>
		<span style="font-size: 25px; cursor: pointer; align-content: right"
			onclick="openNav()">&#9776; Menu</span>

		<hr>
		<!--This will be user information  -->
		<div class="jumbotron" style="margin: 8px 8px 8px 8px">
			<div class="container">
				<h2 class="jumboHeader">Approved Requests</h2>


			</div>
		</div>
	</div>






	<script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

    </script>


</body>

</html>