<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TeamDK</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.revature.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementsListServlet</display-name>
    <servlet-name>ReimbursementsListServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReimbursementsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementsListServlet</servlet-name>
    <url-pattern>/reimbList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoServlet</display-name>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.revature.servlets.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/photo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementServlet</display-name>
    <servlet-name>ReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlets.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementServlet</servlet-name>
    <url-pattern>/reimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeesListServlet</display-name>
    <servlet-name>EmployeesListServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesListServlet</servlet-name>
    <url-pattern>/empList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerRedirect</display-name>
    <servlet-name>ManagerRedirect</servlet-name>
    <servlet-class>com.revature.servlets.ManagerRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerRedirect</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>EmployeeRedirect</display-name>
    <servlet-name>EmployeeRedirect</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRedirect</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
</web-app>